//begin footer
+b.FOOTER.footer#contacts
	+e.container.container
		+e.IMG.decor-rect(src='img/decor/rect_lg.svg' alt='image' data-anim="fade-x" data-anim-duration='1')
		+e.row.row(data-anim-stagger="fade-x")
			+e.col
				+e.H5.title Контакты
				+e.contacts
					+e.contacts
					+e.A.contacts-tel(href='tel:88004445533') 8 800 444-55-33
					+e.A.contacts-mail(href='mailto:info@farminging.ru') info@farminging.ru
					+e.ADDRESS.contacts-address Россия, Москва, ул. Печенегина дом 6, стр. 1, офис 711
			+e.col
				+e.H5.title наши реквизиты
				+e.P.descr Индивидуальный предприниматель Потемкин Андрей Валерьевич ИНН 30199228882, Свидетельства о государственной регистрации физического лица в качестве индивидуального предпринимателя (ОГРНИП) № 317302500012724
				+e.P.descr © Farming Inc, 2018
			+e.col
				+e.H5.title ИЩИ НАС ЗДЕСЬ
				+b.socials.footer__socials
					+e.A.link(href='#!' target='_blank')
						+e.DIV.link-icon.icon-fb
					+e.A.link(href='#!' target='_blank')
						+e.DIV.link-icon.icon-tw
					+e.A.link(href='#!' target='_blank')
						+e.DIV.link-icon.icon-yt
					+e.A.link(href='#!' target='_blank')
						+e.DIV.link-icon.icon-inst
				+e.A.dev-link(href='#!')
					+e.IMG(src='img/other/binfos-logo.png' alt='Binfos')
//end footer
