//begin header
+b.HEADER.header(class= headerClass)
	+e.container.container
		+b.A.logo.header__logo(href='#!')
			+e.IMG.img(src='img/other/logo.png' alt='Farming')
			+e.H1.title Farming
			+e.SPAN.label inc
		+e.NAV.nav
			-
				navList = [
					['КАК МАЙНИТЬ', 'start'],
					['КАК ЭТО ДЕЛАЕМ МЫ', 'earn'],
					['стать партнёром', 'partner'],
					['контакты', 'contacts']
				]
			+e.UL.nav-list
				for navLink in navList
					li: a(href=`#${navLink[1]}`)= navLink[0]

		+btn('b', 'Обратный звонок', '_orange _sm header__btn js-scroll-to')

		+e.BUTTON.nav-btn(type='button')
			+e.SPAN.nav-btn-burger
				+e.SPAN.nav-btn-lines
//end header
