// *** begin steps *** //
.steps
   padding-top: 30px
   &__item
      $parent: &
      position: relative
      min-height: 148px
      padding: 36px 16px 30px
      border-radius: 10px
      text-align: center
      &:not(:last-child)
         margin-bottom: 94px
      &_1
         background-color: #2959df
         #{$parent}-icon-wrap::after
            transform: rotate(-6deg)
            background-color: #2959df
      &_2
         background-color: #e24b2e
         #{$parent}-icon-wrap::after
            transform: rotate(6deg)
            background-color: #e24b2e
      &_3
         background-color: #ffffff
         #{$parent}-icon-wrap::after
            transform: rotate(-6deg)
            background-color: #ffffff
      &-count
         position: absolute
         top: 50%
         left: 25px
         transform: translateY(-75%)
         +f('dp700')
         line-height: 40px
         #{$parent}_1 &
            font-size: 208px
            color: #1f4ed1
         #{$parent}_2 &
            font-size: 205px
            color: #d14024
         #{$parent}_3 &
            color: #dcdcdc
            font-size: 203px
      &-icon
         position: relative
         z-index: 2
         &-wrap
            position: absolute
            z-index: 1
            top: -62px
            left: 50%
            margin-left: -44px
            +flexCenter
            width: 82px
            height: 82px
            border-radius: 10px
            &::after
               +coverdiv
               z-index: 1
               border-radius: 10px
               box-shadow: 0 1px 35px 1px rgba(23, 23, 23, 0.42)
               content: ''
      &-text
         position: relative
         z-index: 1
         font-size: 17px
         line-height: 27px
         color: #ffffff
         #{$parent}_3 &
            color: #3b1eaa
// end steps //

// *** begin socials *** //
.socials
   display: flex
   &__link
      $parent: &
      border-radius: 50%
      transition: .3s ease-in-out
      &:hover
         box-shadow: 0 0 7px 3px rgba(#e24b2e, .8)
      &:not(:last-child)
         margin-right: 8px
      &-icon
         transition: .3s ease-in-out
         //#{$parent}:hover &
            //opacity: .6
// end socials //

// *** begin stat-block *** //
.stat-block
   padding: 30px 32px 40px
   text-align: center
   border-radius: 10px
   border: 1px solid #ffffff
   &__top
      margin-bottom: 40px
   &__title
      margin-bottom: 26px
      +f('dp500', 30, 30)
      text-transform: uppercase
   &__descr
      padding: 0 10px
   &__row
      display: flex
      margin: 0 -9px 50px
   &__item
      flex: 0 0 calc(33.33333% - 18px)
      width: calc(33.33333% - 18px)
      margin: 0 9px
      box-shadow: 0 1px 35px 1px rgba(23, 23, 23, 0.42)
      border-radius: 10px
      line-height: 30px
      overflow: hidden
      &-inner
         display: flex
         flex-direction: column
         justify-content: flex-start
         min-height: 146px
         padding: 30px 0 0
         background-color: #ffffff
         opacity: 0.8
      &-title
         padding: 5px 2px
         +f('dp500', 13, 30)
         &_hash
            background-color: #3b1eaa
         &_earn
            background-color: #e24b2e
         &_share
            background-color: #2959df
      &-hash
         &-count
            margin: 5px 0 15px
            font-size: 50px
            color: #3b1eaa
         &-text
            font-size: 20px
            color: #3b1eaa
      &-earn
         &-count
            margin-bottom: 2px
            font-size: 31px
            color: #e24b2e
            span
               +f('rob400')
         &-text
            font-size: 20px
            text-transform: uppercase
            color: #363636
      &-share
         &-count
            font-size: 27px
            color: #2959df
         &-text
            color: #363636
            font-size: 20px
   &__btn
      margin-top: 30px
// end stat-block //
