.calc-block
   position: relative
   box-shadow: 0 1px 35px 1px rgba(23, 23, 23, 0.42)
   border-radius: 15px
   overflow: hidden
   background-color: #ffffff
   &__actions
      padding: 25px 28px 20px 25px
      +xs
         padding: 25px 20px
   &__title
      margin-bottom: 40px
      +f('dp700', 35, 40)
      color: #4838bd
      text-align: center
      text-transform: uppercase
      +xs
         margin-bottom: 20px
         font-size: 23px
         line-height: 28px
   &__item
      &:not(:last-child)
         margin-bottom: 30px
         +xs
            margin-bottom: 20px
      &-top
         display: flex
         align-items: flex-start
         margin-bottom: -10px
         +xs
            flex-direction: column
      &-text
         flex: 0 1 calc(100% - 172px)
         width: calc(100% - 172px)
         margin-right: 30px
         color: #2a2a2a
         +xs
            flex: 0 1 auto
            width: auto
            margin: 0 0 10px
      &-title
         margin-bottom: 5px
         font-size: 30px
         line-height: 30px
         +xs
            margin-bottom: 0
            font-size: 22px
            line-height: 26px
   
      &-descr
         font-size: 13px
         line-height: 20px
   
   &__display
      display: flex
      flex: 0 0 192px
      border-radius: 10px
      overflow: hidden
      +xs
         flex: 0 1 auto
         width: 192px
         align-self: center
      &-count
         flex: 1 1 auto
         width: 100%
         padding-right: 15px
         +f('dp500', 30, 50)
         text-align: right
         background-color: #3b1eaa
         border-radius: 0
         color: #fff
      &-label
         flex: 0 0 58px
         +f('rob400', 20, 50)
         text-align: center
         background-color: #2a118b
   &__range
      &-wrap
      &-labels
         display: flex
         justify-content: space-between
         margin-top: 5px
         &-text
            color: #3b1eaa
            font-size: 17px
            line-height: 17px
   &__info
      padding: 15px 27px
      background-color: #4838bd
      +xs
         padding: 20px
      &-row
         display: flex
         justify-content: space-between
         margin: 0 -15px 10px
         +xs
            flex-direction: column
      &-col
         padding: 0 15px
         &:nth-child(2)
            width: percentage(252 / 576)
            +xs
               flex: 0 1 auto
               width: 100%
               margin-top: 20px
      &-title
         margin-bottom: 15px
         font-size: 17px
         +xs
            margin-bottom: 5px
         &_right
            text-align: right
            +xs
               text-align: left
      &-descr
         +f('dp400', 14, 20)
   &__result
      width: 100%
      height: 50px
      padding-right: 18px
      border-radius: 10px
      background-color: #e24b2e
      text-shadow: 0 0 27px rgba(226, 75, 46, 0.36)
      text-align: right
      +f('dp500', 30, 50)

.suggest-block
   +coverdiv
   padding: 30px
   background: #ffffff
   color: #2b2b2b
   text-align: center
   opacity: 0
   transform: scale(.7)
   pointer-events: none
   transition: .3s ease-in-out
   z-index: 1
   +xs
      display: flex
      flex-direction: column
      justify-content: center
      padding: 30px 15px
   &.is-active
      opacity: 1
      transform: scale(1)
      pointer-events: auto
   &__text
      font-size: 25px
      line-height: 40px
      +xs
         font-size: 20px
         line-height: 30px
   
   &__sum
      margin-bottom: -10px
      +f('dp500', 45, 50)
      color: #3b1eaa
      +xs
         margin-bottom: 0
      span
         +f('rob400')
      
   &__title
      margin: 18px -30px
      padding: 17px 15px
      box-shadow: 0 1px 29px 1px rgba(255, 0, 0, 0.39)
      background-color: #ff0000
      +f('dp700', 35, 45)
      text-transform: uppercase
      color: #fff
      +xs
         margin: 40px -30px
         font-size: 32px
         line-height: 42px
   &__form
      margin-top: 20px
      +xs
         margin-bottom: 10px
      &-field
         max-width: 400px
         margin: 0 auto 30px
   &__btn
      +xs
         width: 100%
