.preloader
	$parent: &
	overflow: hidden
	position: fixed
	z-index: 9999
	top: 0
	left: 0
	right: 0
	height: 100vh
	background-color: $color6
	+gpu
	&.is-end
		background-color: transparent
	&.is-hidden
		visibility: hidden
	&.hide-ie
		transition: all 1s ease
		opacity: 0
	
	&__inner
		display: flex
		align-items: center
		justify-content: center
		+coverdiv
		z-index: 1
		background-image: linear-gradient(-45deg,#3b1eaa 0%,#5934a2 100%)
		//clip-path: ellipse(85% 100% at 25% -100%)
		+md
			clip-path: none
		&:before
			content: ''
			+coverdiv
			z-index: 1
	&.is-start &__inner
		clip-path: ellipse(85% 100% at 30% 50%)
		transition: all 1s ease-out
	&.is-end &__inner
		clip-path: ellipse(85% 100% at 30% 200%)
		transition: all 1s ease-in
		
	&__logo
		z-index: 2
